<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="error-message">
        <h1>Oops!</h1>
        <% if (error && error.message) { %>
            <p>
                <%= error.message %>
            </p>
            <% } else { %>
                <p>An unexpected error occurred. Please try again later.</p>
                <% } %>
                    <a href="/">Go Back to Home</a>
    </div>


    <script>
        const redirectCountdown = () => {
            let countdown = 10;
            let countdownInterval = setInterval(function () {
                document.getElementById('count-down').innerText = countdown + ' seconds';

                countdown -= 1;

                if (countdown < 0) {
                    clearInterval(countdownInterval);
                    window.location.href = '/';
                }
            }, 1000);
        }

        redirectCountdown();
    </script>

    <div>
        <h1 style="font-size: 60px;" id="count-down"></h1>
    </div>

</body>

</html>