<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather API  -using openweather api</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div style="justify-content: center; text-align:center">
        <h1>Weather by cities</h1>
    </div>

    <form action="/" method="post">
        <label for="cityName">Select a city in Pakistan: </label>
        <select name="cityName" id="cityName">
            <option value="">-- Select a city --</option>
            <option value="Karachi">Karachi</option>
            <option value="Lahore">Lahore</option>
            <option value="Faisalabad">Faisalabad</option>
            <option value="Rawalpindi">Rawalpindi</option>
            <option value="Gujranwala">Gujranwala</option>
            <option value="Peshawar">Peshawar</option>
            <option value="Multan">Multan</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Islamabad">Islamabad</option>
            <option value="Quetta">Quetta</option>
        </select>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
