/* SkyCaster */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  
}

p,
div {
  font-weight: 300;
}

strong {
  font-weight: 500;
}

.weather-entry {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(44, 44, 44, 0.4);
  border-radius: 15px;
  margin: 5rem;
  padding: 5rem;
  border: 1px solid rgba(209, 213, 219, .23);
  display: flex;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.weather-intro {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: left;
  padding: 1rem;

  backdrop-filter: blur(20px) saturate(61%);
  -webkit-backdrop-filter: blur(20px) saturate(61%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.18);
}

.weather-info {
  padding: 1rem;

  backdrop-filter: blur(20px) saturate(61%);
  -webkit-backdrop-filter: blur(20px) saturate(61%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.18);
}

.weather-entry p {
  padding: 0.2rem;
}

.weather-image {
  width: 4rem;
  border-radius: 200px;
  /* margin: auto; */
}

.charts-container {
  height: auto;
  display: flex;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.weather-chart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  overflow-wrap: normal;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.weather-card {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.18);
  width: max-content;
  border-radius: 12px;
  padding: 1rem;
  margin: 1.5rem;
  margin-bottom: 0.2rem;
}